<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>		
        <mapping class="com.maodr.system.user.model.UserPO"/>
        <mapping class="com.maodr.system.org.model.OrgPO"/>
        <mapping class="com.maodr.system.functree.model.FuncTreePO"/>       
	</session-factory>
</hibernate-configuration>