<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<bean id="orgAction" class="com.maodr.system.org.action.OrgAction" scope="prototype" />
	<bean id="orgService" class="com.maodr.system.org.service.OrgServiceImpl">
		<property name="orgDao" ref="orgDao" />
	</bean>
	<bean id="orgDao" class="com.maodr.system.org.dao.OrgDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
